@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    max-width: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(114, 101, 101, 0.45)), url('https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: initial;
}


#title,
#description {
    color: whitesmoke;
    text-align: center;
    padding: 0px 20px;
}

#title {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 3.2rem;
}

#description {
    margin-top: 10px;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 40px;
}

#survey-form {
    padding: 40px;
    background-color: white;
    font-size: 1.8rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 40px;
}

#survey-form ul {
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: 18px;
    /* border: 1px dotted black; */
}

#survey-form li {
    display: grid;
    row-gap: 3px;
    margin-bottom: 10px;
    /* border: 1px dotted black; */
}

label {
    font-size: inherit;
    font-weight: 600;
}

span {
    font-size: 1.4rem;
}

input,
select {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 0.3em;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

input:hover,
select:hover,
textarea:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#recommend,
#improved {
    border: 0;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

#recommend input {
    align-self: center;
}

legend {
    font-size: inherit;
    font-weight: 600;
    padding: 0;
    margin-bottom: 5px;
}


#improved legend {
    margin-bottom: 5px;
}

#improved input {
    align-self: center;
}

textarea {
    font-size: inherit;
    margin-top: 4px;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

button {
    color: white;
    font-family: inherit;
    font-size: inherit;
    padding: 8px 0;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

button:hover {
    opacity: 1;
    box-shadow: rgb(255, 255, 255) 0px 3px 8px;
}

footer {
    text-align: center;
    font-size: 1.5rem;
}

footer p {
    margin-bottom: 0;
}

footer a {
    color: #008CBA;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease;
}

footer a:hover {
    /* transform: scale(1.1); */
    letter-spacing: 2px;
    font-weight: 900;
}

.love-symbol {
    color: #ff4041;
    font-size: 2rem;
}

@media (max-width: 768px) {
    body {
        max-width: 500px;
    }
}

@media (max-width: 460px) {
    body {
        background-size: auto;
    }

    #survey-form {
        margin-bottom: 0;
        padding: 40px 20px;
    }
}